html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: "Montserrat", sans-serif;
    color: white;
}

* {
    /* border: 1px solid red; */
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(35, 66, 39);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: green;
    padding: 20px;
    padding-left: 50px;
    box-shadow: 10px 10px 10px rgb(33, 36, 33);
}

header h1 {
    margin-right: auto;
}

dialog {
    min-width: 400px;
    border-radius: 20px;
    background-color: darkgreen;
    border: 2px solid green;
    top: 25%;
}

#tasks-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 50%;
    align-items: stretch;
}

.task {
    background-color: rgb(38, 128, 38);
    display: flex;
    gap: 10px;
    flex: auto;
    padding: 10px;
    align-items: center;
    border-radius: 20px;
    transition: .3s;
}
.High {
    background-color: rgb(190, 26, 26);
}

.Medium {
    background-color: rgb(180, 180, 28);
}
.completed {
    background-color: grey;
}

.completed div {
    text-decoration: line-through;
}

.task-title {
    color: white;
}

.task-desc {
    color: darkslategray;
    margin-right: auto;
}

.task button {
    justify-self: end;
}

main {
    flex: 1;
    display: flex;
}

aside {
    background-color: darkgreen;
    box-shadow: 10px 10px 10px rgb(33, 36, 33);
    min-width: 250px;
}

.navbar h1 {
    text-align: center;
    font-size: xx-large;
}

.dialog-buttons {
    display: flex;
    justify-content: space-evenly;
}

.dialog-buttons button {
    background-color: green;
}

dialog div form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin: 20px;
}

#new-task-btn {
    margin: 30px;
    font-size: 2;
}
.navbar button {
    width: 100%;
    text-align: left;
    padding-left: 30px;
    border-radius: 0px;
}

#content {
    padding: 10px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: c;
    align-items: center;
}

.project-title {
    text-align: center;
}

footer {
    background-color: green;
    padding: 10px;
    text-align: center;
}

button {
    padding: 15px;
    font-size: large;
    background-color: darkgreen;
    color: white;
    border: 0px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

svg {
    width:30px;
    margin: 10px;
    fill: white;
}

button:hover {
    background-color: darkseagreen;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgb(33, 36, 33);
    transform: translateY(-5px);
}

.task:hover {
    box-shadow: 5px 5px 5px rgb(33, 36, 33);
    transform: scale(1.01);
}

button:active {
    background-color: darkseagreen;
    cursor: pointer;
}